@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.formulariocreadores{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-size: 400%;
    animation:  bg-animation 20s infinite alternate;
    /*background-image: linear-gradient(45deg, #7cc186 0, #6fc38f 4.55%, #62c499 9.09%, #53c5a3 13.64%, #43c5ad 18.18%, #30c6b8 22.73%, #17c6c2 27.27%, #00c5cc 31.82%, #00c5d5 36.36%, #00c4de 40.91%, #00c3e6 45.45%, #0cc1ed 50%, #2ebff3 54.55%, #46bdf7 59.09%, #5abafa 63.64%, #6eb7fc 68.18%, #80b4fc 72.73%, #91b1fb 77.27%, #a1adf9 81.82%, #b0a9f5 86.36%, #bea6ef 90.91%, #caa2e9 95.45%, #d69ee2 100%, white); }
    */
    background-image: linear-gradient(210deg, #aeffff 0, #78e6ff 25%, #79e0ee 50%, rgb(248, 255, 149) 80%,rgb(241, 178, 106) 100%); 
  }
  
  
  @keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
  }

  .formulario{

      display: flex;
      flex-direction: column;
      background-color: #302c2c;
      margin-left: 50px;
      border-radius: 30px;
      margin-bottom: 100px;
      
  }

  .formulario p{
      font-family: "Montserrat";
      font-size: 15px;
      color: white;
      margin-left: 40px;
      margin-top: 50px;
  }

  .formulario input{
      height: 23px;
      width: 400px;
      border: none;
      border-bottom: 2px solid rgb(89, 242, 247);
      background: none;
      margin-left: 40px;
      margin-right: 50px;
  }

  .iban{
      display: flex;
      width: 100%;
      height: 100%;
  }

  .iban input{
      width: 80px;
      height: 30px;
      text-align: center;
      margin-top: 5px;
      margin-left: 10px;
      margin-right: 2px;
  }

  .resumenformulario{
      display: flex;
      height: 40px;
  }

  .resumenformulario input{
      width:250px;
      margin-bottom: 40px;
      margin-right: 0px;
  }

  .resumenformulario button{
      width: 150px;
      height: 40px;
      border-radius: 10px;
      border:none;
      background-color: #f76a19;
      font-family: "Montserrat";
      color: white;
      margin-left: 20px;
      font-size: 15px;
      transition: all 0.5s ease 0s;
      
  }


  .resumenformulario button:hover{
      background-color: #e7223c;
  }

  .Enviar {
     height: 50px;
     border-radius: 30px;
     font-family: "Montserrat";
     background-color: #f76a19;
     font-size: 16px;
     color: white;
     transition: all 0.5s ease;
     margin-top: 70px;
  }

  .Enviar:hover{
    background-color: #e7223c;
  }

  .formulariocreadores h1{
      font-family: "Montserrat";
      font-size: 40px;
    
  }

  .explicacioncreadores{
      display: flex;
      flex-direction: column;
      margin-right: 100px;
      margin-left: 80px;
      margin-bottom: 100px;
  }

  .explicacioncreadores p{
    font-family: "Montserrat";
    font-size: 22px;
    
  }

  .explicaparrafo{
      display: flex;
      flex-direction: column;
      margin-top: 0px;
  }

  .explicaparrafo p{
      font-family: "Montserrat";
      font-size: 22px;
  }

  .parrafocreadores p{
        
        line-height: 40px;
  }

  .parrafocreadores button{
      font-family: "Montserrat";
      font-size: 18px;
      font-weight: bold;
      border: none;
      background: none;
      color: #4b25f5;
      transition: all 0.5s ease 0s;
  }

  .parrafocreadores button:hover{
      color: #ff00ff;
  }

  .lottiebooks{
      width: 700px;
  }

  .resum input{
      width :300px;
      margin-top: 50px;
      margin-left: 100px;
      height: 30px;
      border-radius: 30px;
      text-align: center;
      font-family: "Montserrat";
      font-size: 23px;
  }

  .resumenesflex{
      width: 100%;
  }