.cards{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px rgb(214, 214, 214);
    margin-left: 100px;
    margin-top: 40px;
    overflow: hidden;
    background-color: white;
}

.cards2{
    width: 100%;
    overflow: hidden;
}

.cards p{
    font-family: "Montserrat";
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.cards img{
    width: 100%;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.cards img:hover{
    transform: scale(1.3);
}

.cards h4{
    font-size: 20px;
    font-family: "Montserrat";
    text-align: center;
}

.cards button{
    width: 80px;
    height: 40px;
    background: none;
    border:none;
    padding-left: 0px;
    margin-bottom: 20px;
    font-size: 17px;
    color: #f1540b;
    transition: all 0.5s ease 0s;
}

.cards button:hover{
    transform: scale(1.08);
    color: #047235;
}

.cards:hover{
    box-shadow: 5px 5px 40px #e5e1c2;
}

.resumenesflex{
    display: grid;
    flex-direction: row;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.resum{
    display: flex;
    flex-direction: column;
    background-size: 400%;
    background: rgb(85,249,255);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(33,33,33,1) 21%, rgba(52,52,52,1) 46%, rgba(78,78,78,1) 70%, rgba(98,98,98,1) 81%, rgba(116,116,116,1) 94%, rgba(125,125,125,1) 100%);
    width: 100% ;
}

.novedades{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.novedades p {
    font-family: "Montserrat";
    font-size: 20px;
    color: rgb(253, 253, 253);
    line-height: 33px;
}

.novedades h1 {
    font-family: "Montserrat";
    width: 400px;
    font-size: 70px;
    transition: all 0.5s ease 0s;
    color: rgb(106, 225, 255);
}

.novedades button{
    width: 300px;
    height: 65px;
    margin-top: 40px;
    font-family: "Montserrat";
    border-radius: 20px;
    background-color: #2673a7;
    border: none;
    font-size: 18px;
    color: white;
    transition: all 0.5s ease 0s;
}

.novedades button:hover{
    background-color: #ff7637;
}

.novedades h1:hover{
    color: #ff0808;
}

.primerabarra{
    display: flex;
    height: 500px;
    background-size: 400%;
    flex-direction: row;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;

}


@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

.lottiex{
    width: 600px;
}

.like{
    margin-left: 20px;
    transition: all 0.5s ease 0s;
}

.like:hover{
    transform: scale(1.5);
}

#input3{
    width: 500px;
    margin-bottom: 50px;
    margin-top: 80px;
    background: white;
    border: 2px solid rgb(23, 208, 221);
    border-radius: 10px;
}

.add{
    margin-left: 15px;
    height: 20px;
    width: 20px;
    color: #2673a7;
    transition: all 0.5s ease 0s;
}

.add:hover{
    transform: scale(1.3);
    color: #0e6315;
}

.comentarios{
    margin-left: 20px;
    transition: all 0.5s ease 0s;
}

.comentarios:hover{
    transform: scale(1.5);

}

.catalogobutt{
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 50px;
}

.catalogobutt button{
    font-size: 25px;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    border:none;
    background:none;
    font-family: "Montserrat";
    font-weight: bold;
    color: #c8ffff;
    transition: all 0.5s ease 0s;
    text-align: center;
}

.catalogobutt button:hover{
    transform: scale(1.2);
    color: #ff0808;
}

#input_01{
    width: 400px;
    height: 35px;
    margin-left: 150px;
    border-radius: 15px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}
